@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    height: 100vh;
}

#app {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #222;
    height: inherit;
    overflow: hidden;

    .btn {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }

    .home {
        display: flex;
        height: 100vh;
        background: rgb(131, 236, 255);

        .todolist {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: inherit;
            margin: auto;
            max-width: 800px;

        header {
            flex: 3;
            @extend %center;
            flex-direction: column;
        }

        .content {
            flex: 7;
            background: inherit;
            overflow: auto;
        }

        footer {
            flex: 1;
            @extend %center;
            border-radius: 999rem;
            flex-direction: column;
            margin: .5rem;
            

            a.btn {
                @extend %center;
                color: white;
                font-weight: 700;
            }
        }
    }
    }
}